In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv(r"C:\Users\kanag\Desktop\Luxury_House_Analysis\Luxury_Housing_Bangalore.csv")
print(df)

       Property_ID       Micro_Market Project_Name Developer_Name  \
0       PROP000001      Sarjapur Road    Project_0            RMZ
1       PROP000002        Indiranagar    Project_1    Puravankara
2       PROP000003  Bannerghatta Road    Project_2   Tata Housing
3       PROP000004       bellary road    Project_3        Embassy
4       PROP000005        Koramangala    Project_4        SNN Raj
...            ...                ...          ...            ...
100995  PROP004730       BELLARY ROAD  Project_229        Embassy
100996  PROP059810       Bellary Road  Project_309        Brigade
100997  PROP065099        HENNUR ROAD   Project_98            RMZ
100998  PROP093022        rajajinagar   Project_21        Embassy
100999  PROP023826         whitefield  Project_325     L&T Realty

        Unit_Size_Sqft Configuration     Ticket_Price_Cr Transaction_Type  \
0               4025.0          4bhk  12.750846039118798          Primary
1               5760.0          3Bhk  16.292151871065954          Primary
2               7707.0          4bhk  10.517724412961911          Primary
3               6192.0          3BHK   9.396367494232896          Primary
4               7147.0          4Bhk  15.345392444511946        Secondary
...                ...           ...                 ...              ...
100995          8546.0         5Bhk+   11.33081004147843        Secondary
100996          3408.0          3bhk  10.829373158307602          Primary
100997          4691.0          4BHK  11.183303152058548          Primary
100998          7435.0          3BHK  10.914156376035923        Secondary
100999          3218.0          4bhk           â‚¹13.27 Cr          Primary

             Buyer_Type Purchase_Quarter  Connectivity_Score  Amenity_Score  \
0                   NRI       2025-03-31            7.990091       5.462863
1                 Other       2024-06-30            4.839024            NaN
2                   HNI       2023-12-31            8.131315       8.669227
3                   HNI       2024-03-31            7.501657       5.720246
4                   HNI       2024-12-31            4.525216       8.609649
...                 ...              ...                 ...            ...
100995              CXO       2024-12-31            8.552797       6.221131
100996              CXO       2024-09-30            6.879269       9.783611
100997              NRI       2023-12-31            6.753812       8.383013
100998            Other       2024-06-30            4.437787       5.756247
100999  Startup Founder       2023-12-31            7.760416       9.989290

         Possession_Status Sales_Channel NRI_Buyer  Locality_Infra_Score  \
0                   Launch        Broker       yes              9.212491
1       Under construction      NRI Desk        no              7.723898
2            Ready to move        Direct       yes              6.985493
3            Ready to move        Online       yes              6.100929
4       Under construction        Broker        no              5.312510
...                    ...           ...       ...                   ...
100995  Under construction      NRI Desk        no              7.511827
100996       Ready to move        Direct        no              9.851849
100997  Under construction        Broker        no              9.101604
100998  Under construction        Broker       yes              8.588551
100999  Under construction        Direct       yes              9.917647

        Avg_Traffic_Time_Min              Buyer_Comments
0                         18        Loved the amenities!
1                        106                         NaN
2                        113   Agent was not responsive.
3                        106         Excellent location!
4                         18     Too far from my office.
...                      ...                         ...
100995                    22  Will buy after possession.
100996                    26   Agent was not responsive.
100997                    44        Loved the amenities!
100998                    66         Excellent location!
100999                    58        Loved the amenities!

[101000 rows x 18 columns]

In [3]:
df.head()

,Property_ID,Micro_Market,Project_Name,Developer_Name,Unit_Size_Sqft,Configuration,Ticket_Price_Cr,Transaction_Type,Buyer_Type,Purchase_Quarter,Connectivity_Score,Amenity_Score,Possession_Status,Sales_Channel,NRI_Buyer,Locality_Infra_Score,Avg_Traffic_Time_Min,Buyer_Comments
0,PROP000001,Sarjapur Road,Project_0,RMZ,4025.0,4bhk,12.750846039118798,Primary,NRI,2025-03-31,7.990091,5.462863,Launch,Broker,yes,9.212491,18,Loved the amenities!
1,PROP000002,Indiranagar,Project_1,Puravankara,5760.0,3Bhk,16.292151871065954,Primary,Other,2024-06-30,4.839024,NaN,Under construction,NRI Desk,no,7.723898,106,NaN
2,PROP000003,Bannerghatta Road,Project_2,Tata Housing,7707.0,4bhk,10.517724412961911,Primary,HNI,2023-12-31,8.131315,8.669227,Ready to move,Direct,yes,6.985493,113,Agent was not responsive.
3,PROP000004,bellary road,Project_3,Embassy,6192.0,3BHK,9.396367494232896,Primary,HNI,2024-03-31,7.501657,5.720246,Ready to move,Online,yes,6.100929,106,Excellent location!
4,PROP000005,Koramangala,Project_4,SNN Raj,7147.0,4Bhk,15.345392444511946,Secondary,HNI,2024-12-31,4.525216,8.609649,Under construction,Broker,no,5.312510,18,Too far from my office.

In [4]:
df.head()      
df.shape        
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101000 entries, 0 to 100999
Data columns (total 18 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   Property_ID           101000 non-null  object
 1   Micro_Market          101000 non-null  object
 2   Project_Name          101000 non-null  object
 3   Developer_Name        101000 non-null  object
 4   Unit_Size_Sqft        90954 non-null   float64
 5   Configuration         101000 non-null  object
 6   Ticket_Price_Cr       90981 non-null   object
 7   Transaction_Type      101000 non-null  object
 8   Buyer_Type            101000 non-null  object
 9   Purchase_Quarter      101000 non-null  object
 10  Connectivity_Score    101000 non-null  float64
 11  Amenity_Score         90910 non-null   float64
 12  Possession_Status     101000 non-null  object
 13  Sales_Channel         101000 non-null  object
 14  NRI_Buyer             101000 non-null  object
 15  Locality_Infra_Score  101000 non-null  float64
 16  Avg_Traffic_Time_Min  101000 non-null  int64
 17  Buyer_Comments        82713 non-null   object
dtypes: float64(4), int64(1), object(13)
memory usage: 13.9+ MB

In [5]:
df.isnull().sum()

Property_ID                 0
Micro_Market                0
Project_Name                0
Developer_Name              0
Unit_Size_Sqft          10046
Configuration               0
Ticket_Price_Cr         10019
Transaction_Type            0
Buyer_Type                  0
Purchase_Quarter            0
Connectivity_Score          0
Amenity_Score           10090
Possession_Status           0
Sales_Channel               0
NRI_Buyer                   0
Locality_Infra_Score        0
Avg_Traffic_Time_Min        0
Buyer_Comments          18287
dtype: int64

In [6]:
df.duplicated().sum()

np.int64(1000)

In [7]:
df.drop_duplicates(inplace=True)

In [8]:
df.columns = df.columns.str.strip().str.lower().str.replace(' ', '_').str.replace('-', '_')
df.columns

Index(['property_id', 'micro_market', 'project_name', 'developer_name',
       'unit_size_sqft', 'configuration', 'ticket_price_cr',
       'transaction_type', 'buyer_type', 'purchase_quarter',
       'connectivity_score', 'amenity_score', 'possession_status',
       'sales_channel', 'nri_buyer', 'locality_infra_score',
       'avg_traffic_time_min', 'buyer_comments'],
      dtype='object')

In [9]:
for col in df.columns:
    if df[col].dtype in ['float64', 'int64']:
        df[col] = df[col].fillna(df[col].mean())
    else:
        df[col] = df[col].fillna('Unknown')

In [10]:
df= df.apply(lambda x: x.str.strip() if x.dtype == "object" else x)

In [11]:
for col in df.columns:
    if 'price' in col or 'cost' in col:
       df[col] = pd.to_numeric(df[col], errors='coerce')

for col in df.columns:
    if 'df' in col:
        df[col] = pd.to_datetime(df[col], errors='coerce')

In [13]:
clean_path = r"C:\Users\kanag\Desktop\Luxury_House_Analysis\Luxury_Housing_Bangalore.csv"
df.to_csv(clean_path, index=False)
print("Cleaned data saved at:", clean_path)

Cleaned data saved at: C:\Users\kanag\Desktop\Luxury_House_Analysis\Luxury_Housing_Bangalore.csv

In [14]:
df.isnull().sum()

property_id                 0
micro_market                0
project_name                0
developer_name              0
unit_size_sqft              0
configuration               0
ticket_price_cr         27951
transaction_type            0
buyer_type                  0
purchase_quarter            0
connectivity_score          0
amenity_score               0
possession_status           0
sales_channel               0
nri_buyer                   0
locality_infra_score        0
avg_traffic_time_min        0
buyer_comments              0
dtype: int64

In [15]:
df.shape

(100000, 18)

In [16]:
df.describe

<bound method NDFrame.describe of       property_id       micro_market project_name developer_name  \
0      PROP000001      Sarjapur Road    Project_0            RMZ
1      PROP000002        Indiranagar    Project_1    Puravankara
2      PROP000003  Bannerghatta Road    Project_2   Tata Housing
3      PROP000004       bellary road    Project_3        Embassy
4      PROP000005        Koramangala    Project_4        SNN Raj
...           ...                ...          ...            ...
99995  PROP099996       bellary road  Project_495     L&T Realty
99996  PROP099997          YELAHANKA  Project_496     L&T Realty
99997  PROP099998        rajajinagar  Project_497       Prestige
99998  PROP099999        INDIRANAGAR  Project_498        SNN Raj
99999  PROP100000        hennur road  Project_499        Embassy

       unit_size_sqft configuration  ticket_price_cr transaction_type  \
0              4025.0          4bhk        12.750846          Primary
1              5760.0          3Bhk        16.292152          Primary
2              7707.0          4bhk        10.517724          Primary
3              6192.0          3BHK         9.396367          Primary
4              7147.0          4Bhk        15.345392        Secondary
...               ...           ...              ...              ...
99995          5550.0         5Bhk+        10.185193          Primary
99996          3171.0          4Bhk        12.272081        Secondary
99997          5599.0          4BHK        13.730179          Primary
99998          7342.0          4bhk        10.363989          Primary
99999          5016.0         5Bhk+        10.415617          Primary

            buyer_type purchase_quarter  connectivity_score  amenity_score  \
0                  NRI       2025-03-31            7.990091       5.462863
1                Other       2024-06-30            4.839024       7.504185
2                  HNI       2023-12-31            8.131315       8.669227
3                  HNI       2024-03-31            7.501657       5.720246
4                  HNI       2024-12-31            4.525216       8.609649
...                ...              ...                 ...            ...
99995              NRI       2023-12-31            8.379908       7.504185
99996            Other       2023-12-31            4.716304       6.374069
99997  Startup Founder       2023-09-30            6.193347       7.482473
99998              NRI       2024-09-30            9.435646       6.369276
99999  Startup Founder       2024-09-30            5.786292       5.284026

        possession_status sales_channel nri_buyer  locality_infra_score  \
0                  Launch        Broker       yes              9.212491
1      Under construction      NRI Desk        no              7.723898
2           Ready to move        Direct       yes              6.985493
3           Ready to move        Online       yes              6.100929
4      Under construction        Broker        no              5.312510
...                   ...           ...       ...                   ...
99995  Under construction        Online       yes              8.378800
99996              Launch        Broker       yes              7.025209
99997              Launch      NRI Desk       yes              8.984990
99998  Under construction      NRI Desk       yes              7.634717
99999              Launch        Broker       yes              6.039943

       avg_traffic_time_min               buyer_comments
0                        18         Loved the amenities!
1                       106                      Unknown
2                       113    Agent was not responsive.
3                       106          Excellent location!
4                        18      Too far from my office.
...                     ...                          ...
99995                   109    Underpriced for location.
99996                    20  Great view from 15th floor.
99997                    63                      Unknown
99998                    89                      Unknown
99999                    95                      Unknown

[100000 rows x 18 columns]>

In [19]:
from sqlalchemy import create_engine

file_path = r"C:\Users\kanag\Desktop\Luxury_House_Analysis\Luxury_Housing_Bangalore.csv"
df = pd.read_csv(file_path)

engine = create_engine("mysql+pymysql://root:Sql25@localhost:3306/Luxury_house_data")
df.to_sql(
    name='luxury_housing_table',  
    con=engine,
    if_exists='replace',                   
    index=False
)

print("Data successfully pushed to MySQL!")

Data successfully pushed to MySQL!